section.youtube
  .flex.flex--space-around
    
    .col-1.col-pos
      .video-strip
      .flex-video <iframe src="https://player.vimeo.com/video/60122989" width="400" height="150" frameborder="0"></iframe>
        
    
    .col-1.order-first
      p.home-lead.outdented ... teaching everyone how to make websites on YouTube...
      a(href="#").home-cta Watch on YouTube
